@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif !important;    
  width: 100%;    
  height: 100%;    
  margin: 0;    
  padding: 0;     
  font-size: 13px !important;   
  background : url('default.jpg') no-repeat center fixed #000;
 /* background-size: cover;*/
}

.table {
	margin-bottom: 0px;
}
.row-no-margin{
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;	
}
.tableheader{
	background-color: #183d65;
  height:38px;
}
.breadcrumbs {
  padding: 8px 15px;
  margin-bottom: 10px;
  list-style: none;
  //background-color: #74ACA0;
  background-color: #d1e1f1;
  border-radius: 4px;
}
.breadcrumbs span, a {
  color: #000 !important;
}
a{
  color:#000 !important;
}
a:hover{
	cursor: pointer;
	cursor:hand;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(26, 62, 56, 0.33);
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #367b6e;
}
.table-hover>tbody>tr:hover {
    background-color: rgba(7, 39, 35, 0.85);
}

.arrow {
cursor: pointer;
color: white;
border: 1px solid #AEAEAE;
border-radius: 30px;
background: #605F61;
font-size: 31px;
font-weight: bold;
display: inline-block;
line-height: 0px;
padding: 11px 3px;
margin-top: -4px;
margin-right: -3px;
position:absolute;
top:0;
right:0;
text-decoration: none;
}
.arrow:before{
 content: "×";
}
table, th {
  background: #417ebf;
  background: -moz-linear-gradient(top,  #417ebf 0%, #3b77b6 100%);
  background: -webkit-linear-gradient(top,  #417ebf 0%,#3b77b6 100%);
  background: linear-gradient(to bottom,  #417ebf 0%,#3b77b6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417ebf', endColorstr='#3b77b6',GradientType=0 );
  font-size:12px;
  font-weight:normal;
  font-family: 'Open Sans', sans-serif !important;
}
table, td{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif !important;
}
h3{
  font-size: 18px;
  margin:10px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background: #fff; color: #000; font-size: 12px;
}
.table-striped>tbody>tr:nth-of-type(even) {
  background: #cfe1f1; color: #000; font-size: 12px;
}
.table-hover>tbody>tr:hover {
    background-color: rgb(72, 143, 197) !important;
}
h4 {
  font-size: 14px;
}
.header {
    margin: 0px;
    padding: 24px 24px 20px;
    color: rgba(255, 255, 255, 0.870588);
    font-size: 16px;
    background: #282828;
    line-height: 8px;
    font-weight: 400;
    border-bottom: none;
}
h2{
  font-size: 14px;
  margin:0px !important;
  padding:10px 0;
  border-bottom: 1px #d0d0d0 solid;
  width: 99%;
}
.pull-right{
  /*height: auto !important;*/
  /*padding: 8px 0 0 !important;*/
}
.pull-right-btn {
      position: absolute;
      right: 60px !important;
      margin-top:-20em;
}

.add-btn button {
   background:  #FFCA28 !important;
}

.dialog-modal h3{
    padding: 10px !important;
    color: rgb(255, 255, 255) !important;
    font-size: 14px !important;
    line-height: normal !important;
    background: #282828;
}
.dialog-modal button{
    color: rgb(255, 255, 255) !important;
    font-size: 12px !important;
    line-height: normal !important;
    background:  #5299d3 !important;
    margin: 0 2px 0 2px !important;
}
.dialog-modal .cancel{
  background: #f27e54 !important;
}
button, input, select, textarea {
  font-size:12px !important;
  font-family: 'Open Sans', sans-serif !important;
}
input[type=checkbox], input[type=radio] {
   font-family: 'Open Sans', sans-serif !important;
}
label {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 500 !important;
  font-size:14px !important;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif !important;
}
.pull-left  {
   float: right !important;
}
.pull-left button{
    padding: 4px !important;
    width: auto !important;
    height: auto !important;
}
.react-bs-table {
  background: rgba(234, 234, 234, 0.88);
}
.pull-right2 {
   float : right ;
}
button span {
  /*font-size: 16px !important;*/
}